.row__flex div:first-child { 
  background-color: #82ded1;
  border: 1px solid black;
  border-bottom: none;
  order: -2;
}

.container__third {
  background-color: #faac9b;
  border: 1px solid black;
  border-top: none;
}

.button__first {
  border: 1px solid black;
  border-top: none;
}

.button__second {
  border: 1px solid black;
  border-top: none;
}

.container__wrapper div {
  min-height: 40px;
}

.first-block {
  border: 1px solid black;
  border-bottom: none;
}

.first-block h1 {
  margin: 0;
}

.row__flex div:nth-child(2){
  background-color: #fef2d7;
  border: 1px dashed black;
}

.container--closed {
  display: none;
}

.order {
  order: -1;
  border-top: 1px solid black;
  border-bottom: none;
}


@media (min-width: 577px) {
  .row__flex div:first-child {
    border: 1px solid black;
    border-right: none;
  }

  .container__third {
    border: 1px solid black;
    border-left: none;
  }

  .button__first {
    border: 1px solid black;
    border-top: none;
  }
  
  .button__second {
    border: 1px solid black;
    border-top: none;
    border-left: none;
  }

  .order {
    order: -1;
    border-right: none;
    border-left: 1px solid black;
  }
}